.header-title {
  font-size: calc(1rem + 1.5vw);
  text-align: right;
  color: rgb(59, 95, 214);
}

.logo-box {
}

.logo {
  max-width: 100% ;
  object-fit: cover;
}

.accordion-button {
  background: #f8f9fa;
}
.t-area {
  min-height: 100px;
}